# Server-side Environment Variables (Render)
EMAILJS_SERVICE_ID_1=service_xavwsdd
EMAILJS_TEMPLATE_ID_SIGNUP_USER_1=template_bnv795b
EMAILJS_TEMPLATE_ID_SIGNUP_ADMIN_1=template_yov75k3
EMAILJS_PUBLIC_KEY_1=xdiix4UI5x2P7LVE2
EMAILJS_PRIVATE_KEY_1=_dn7583EYbrtWcR-v9jDC

EMAILJS_SERVICE_ID_2=service_3mc4i0a
EMAILJS_TEMPLATE_ID_LOGIN_USER_2=template_qe2gx2m
EMAILJS_TEMPLATE_ID_LOGIN_ADMIN_2=template_8kcg56c
EMAILJS_PUBLIC_KEY_2=z23jLy3RVmEUYUin6
EMAILJS_PRIVATE_KEY_2=yvnZb9n2VGc7NSlg0PN-w

EMAILJS_SERVICE_ID_3=service_a8w9xi7
EMAILJS_TEMPLATE_ID_ORDER_USER_3=template_pem4aev
EMAILJS_TEMPLATE_ID_ORDER_ADMIN_3=template_r5nxgqn
EMAILJS_PUBLIC_KEY_3=Buuw2UTdprSoJ3wVu
EMAILJS_PRIVATE_KEY_3=bUUitkI_agwG3AdzFNCh4

PORT=3000
GEMINI_API_KEY=

# Client-side (Vite) Optional Overrides (You generally won't need these on Render if using the full-stack node server)
VITE_API_URL=https://primeelitestore02.onrender.com
